body { 
    margin: 0; /* Remove the default margin */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,10,140,1) 40%, rgba(255,0,105,1) 100%);
}

#image-row { 
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

img { 
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}

#img-A {
    filter: blur(30px);
  }

#img-B{
    filter: drop-shadow(20px 15px 4px black);
}
#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}
#click-me  {
    background-color: dodgerblue;
  }
   
#click-me:hover {
    background-color: red;
  }
#click-me {
    filter: drop-shadow(5px 8px 4px black);
}